# INSTRUÇÕES: Renomeie este arquivo para 'secrets.toml' e insira suas credenciais locais

[mysql]
host = "localhost"
user = "root"
password = "SUA_SENHA_DO_BANCO_AQUI"
database = "bf_dashboard"

[mascaramento]
ip_vm_kali = "192.168.0.14"
ip_host_local = "192.168.0.18"